<section class="section-card mb-4" [formGroup]="form">
  <div
    class="card-header"
    [ngClass]="{ accordian: isCollapsible, collapsed: !isExpanded }"
    (click)="toggle()"
  >
    <div class="text-md font-semibold">{{ section.title }}</div>
    <span
      *ngIf="isCollapsible"
      class="accordion-toggle-icon"
      [class.expanded]="isExpanded"
    ></span>
  </div>

  <div
    class="accordion-content"
    [class.expanded]="isExpanded || !isCollapsible"
  >
    <div class="accordion-content-inner">
      <ng-container *ngFor="let subsection of section.subsections">
        <div
          class="form-section"
          [formGroup]="form"
          *ngIf="
            !subsection.showWhen ||
            (subsection.showWhen.mode === 'includes'
              ? form
                  .get(subsection.showWhen.field)
                  ?.value?.includes(subsection.showWhen.value)
              : form.get(subsection.showWhen.field)?.value ===
                subsection.showWhen.value)
          "
        >
          <ng-container
            *ngIf="subsection.type === 'form-array'; else standardSection"
          >
            <div [formArrayName]="subsection.name">
              <div
                *ngFor="
                  let group of getFormArray(subsection.name).controls;
                  let i = index
                "
                class="form-array-group mb-lg"
              >
                <div [formGroupName]="i" class="row gy-4 gx-5">
                  <div
                    class="col-12 d-flex justify-content-between align-items-center p-0"
                  >
                    <p class="text-base text-primary font-semibold mb-md">
                      {{ subsection.title }} {{ i + 1 }}
                    </p>
                    <div
                      class="d-inline-flex align-items-center text-red-200 text-base cursor-pointer"
                      *ngIf="subsection.name !== 'families' || i > 0"
                      (click)="removeGroup(subsection, i)"
                    >
                      <img src="assets/icons/icon-remove.svg" />
                      <span class="ms-1">Remove</span>
                    </div>
                  </div>

                  <div
                    *ngFor="let field of subsection.formGroupTemplate"
                    class="col-4 ps-0"
                  >
                    <app-form-field
                      [field]="field"
                      [form]="form"
                      (stepperChange)="onStepperChange($event)"
                      (buttonClick)="onButtonClick($event)"
                    ></app-form-field>
                  </div>
                  <div
                    class="row gy-4 gx-5 mt-3"
                    *ngIf="subsection.name === 'families'"
                  >
                    <div
                      *ngFor="let personField of personFields"
                      class="col-4 ps-0"
                      [formGroupName]="i"
                    >
                      <app-form-field
                        [field]="personField"
                        [form]="getFormGroupFromArray(subsection.name, i)"
                      ></app-form-field>
                    </div>

                    <div
                      *ngFor="let nomineeField of nomineeFields"
                      class="col-4 ps-0"
                      [formGroupName]="i"
                    >
                      <app-form-field
                        [field]="nomineeField"
                        [form]="getFormGroupFromArray(subsection.name, i)"
                      ></app-form-field>
                    </div>
                  </div>

                  <div
                    *ngIf="
                      subsection.name === 'families' &&
                      i === getFormArray(subsection.name).length - 1
                    "
                    class="col-4 ps-0"
                  >
                    <app-form-field
                      [field]="{
                        type: 'button',
                        name: 'addMoreInsured',
                        label: 'Add More Insured',
                        buttonType: 'outline',
                      }"
                      [form]="form"
                      (buttonClick)="onButtonClick($event)"
                    ></app-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4 pe-4" *ngIf="subsection.name !== 'families'">
              <button
                type="button"
                class="btn btn-outline btn-md w-100"
                (click)="addGroup(subsection)"
              >
                <img
                  src="assets/icons/icon-add.svg"
                  [alt]="subsection.addButtonLabel"
                  class="btn-icon"
                />
                <span>{{ subsection.addButtonLabel }}</span>
              </button>
            </div>
          </ng-container>

          <ng-template #standardSection>
            <p
              class="text-base text-blue-secondary font-semibold mb-lg"
              *ngIf="subsection.title"
            >
              {{ subsection.title }}
            </p>

            <div class="row gy-4 gx-5">
              <div *ngFor="let field of subsection.fields" class="col-4 ps-0">
                <app-form-field
                  [field]="field"
                  [form]="form"
                  (stepperChange)="onStepperChange($event)"
                  (buttonClick)="onButtonClick($event)"
                ></app-form-field>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</section>
