<div class="page-layout" *ngIf="config">
  <div class="page-content">
    <app-breadcrumb [items]="config.breadCrumbs"></app-breadcrumb>
    <div class="page-title">{{ config.title }}</div>
    <div *ngIf="form">
      <form [formGroup]="form">
        <app-section
          *ngFor="let section of config.sections"
          [section]="section"
          [form]="form"
          (buttonClick)="handleButtonClick($event)"
          [personFields]="config.personFields || []"
          [nomineeFields]="config.nomineeFields || []"
        >
        </app-section>
      </form>
    </div>
  </div>

  <footer
    class="page-footer bg-white shadow-md d-flex justify-content-between ps-2"
  >
    <div class="d-flex align-items-center gap-3 p-3">
      <button class="btn btn-primary btn-md px-5" (click)="redirect()">
        Submit
      </button>
    </div>
  </footer>
</div>
