<div class="page-layout" *ngIf="config">
  <div class="page-content">
    <app-breadcrumb [items]="config.breadCrumbs"></app-breadcrumb>
    <div class="page-title">{{ config.title }}</div>
    <div *ngIf="form">
      <form [formGroup]="form">
        <ng-container *ngFor="let section of config.sections">
          <app-section
            *ngIf="section.type !== 'premiumDetails'"
            [section]="section"
            [form]="form"
            (buttonClick)="handleButtonClick($event)"
            [personFields]="config.personFields || []"
            [nomineeFields]="config.nomineeFields || []"
          ></app-section>
        </ng-container>
        <ng-container *ngIf="showPremiumBreakup">
          <app-section
            [section]="premiumBreakupSection"
            [form]="form"
          ></app-section>
        </ng-container>
      </form>
    </div>
  </div>

  <div class="page-footer">
    <button
      type="button"
      class="btn btn-primary btn-md"
      (click)="onNextClick()"
    >
      {{ buttonLabel }}
    </button>
  </div>
</div>
