<div class="page-layout" *ngIf="config">
  <div class="page-content">
    <app-breadcrumb [items]="config.breadCrumbs"></app-breadcrumb>
    <div class="page-title">{{ config.title }}</div>
    <div *ngIf="form">
      <form [formGroup]="form">
        <ng-container *ngFor="let section of config.sections">
          <app-section
            *ngIf="section.type !== 'premiumBreakup'"
            [section]="section"
            [form]="form"
            (buttonClick)="handleButtonClick($event)"
            [personFields]="config.personFields || []"
            [nomineeFields]="config.nomineeFields || []"
          >
          </app-section>
        </ng-container>

        <app-section
          *ngIf="showPremiumBreakup"
          [section]="premiumBreakupSection"
          [form]="form"
          (buttonClick)="handleButtonClick($event)"
          [personFields]="config.personFields || []"
          [nomineeFields]="config.nomineeFields || []"
        >
        </app-section>
      </form>
    </div>
  </div>

  <div class="sticky-next-btn">
    <button
      type="button"
      class="btn btn-primary btn-md"
      (click)="onNextClick()"
    >
      Get Premium
    </button>
  </div>
</div>
