.details-css {
  .detail-title {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .detail-label {
    font-size: 14px;
    color: #666;
  }

  .detail-value {
    font-weight: 500;
    font-size: 15px;
    color: #000;
  }
}
