<div class="page-layout">
  <div class="page-content">
    <div *ngIf="config">
      <app-breadcrumb [items]="config.breadCrumbs"></app-breadcrumb>
      <div class="page-title mb-4">{{ config.title }}</div>

      <section class="section-card bg-light">
        <div
          class="card-header-grey d-flex justify-content-between align-items-center"
        >
          <div class="text-md font-semibold">
            Policy Summary | Quotation ID: AEP68203763
          </div>
          <div class="d-flex gap-3 align-items-center">
            <img
              src="https://harshitagnihotrigemini.github.io/insillion-common-styles-fe-harshit/assets/images/icon-policy-cloning.svg"
              alt="icon-copy"
              class="cursor-pointer"
              *ngIf="!isProposal"
            />
            <img
              src="https://harshitagnihotrigemini.github.io/insillion-common-styles-fe-harshit/assets/images/icon-policy-share.svg"
              alt="icon-share"
              class="cursor-pointer"
            />
            <img
              src="https://harshitagnihotrigemini.github.io/insillion-common-styles-fe-harshit/assets/images/icon-policy-download.svg"
              alt="icon-download"
              class="cursor-pointer"
            />
          </div>
        </div>

        <div
          *ngFor="let section of config.sections"
          class="review-section-wrapper"
        >
          <ng-container [ngSwitch]="section.componentType">
            <ng-container *ngSwitchDefault>
              <div class="ps-4 pt-4">
                <div class="text-lg font-semibold">{{ section.title }}</div>
              </div>

              <div class="px-4">
                <div
                  *ngFor="let subsection of section.subsections"
                  class="subsection-review border-bottom-grey-2 pt-4"
                >
                  <p
                    class="text-base font-semibold mb-4"
                    *ngIf="subsection.title"
                  >
                    {{ subsection.title }}
                  </p>

                  <div class="row g-4 mb-4">
                    <div
                      *ngFor="let field of subsection.fields"
                      class="col-3 ps-0 text-sm"
                    >
                      <div class="text-grey font-bold">{{ field.label }}</div>
                      <div class="review-field-value">{{ field.value }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </section>
    </div>

    <section class="section-card mt-4" *ngIf="showBreakup">
      <div
        class="card-header d-flex justify-content-between align-items-center border-bottom px-4 py-3"
      >
        <h5 class="m-0 fw-semibold">
          Total Premium ₹ {{ totalPremium | number: "1.2-2" }}
        </h5>
      </div>

      <div class="px-4 pb-3 pt-2">
        <app-premium-breakup
          [title]="'Premium Breakup'"
          [breakupData]="breakupData"
        ></app-premium-breakup>
      </div>
    </section>
  </div>

  <div class="page-footer">
    <button class="btn btn-primary btn-md" (click)="onActionClick()">
      {{ buttonLabel }}
    </button>
  </div>
</div>
